.custom-link {
    text-decoration: 'none';
    /* background-color: #73BAFB; */
    color: white;
}

.custom-link:hover {
    text-decoration: 'none';
    background-color: #c684ff;
        color: #042174;
}