.icon-container-messenger {
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    margin-right: 5px;
    height: var(--icon-height, 20px);
    width: var(--icon-width, 20px);
    background-image: var(--icon-background-image, none);
    background-size: cover;

    @media (max-width: 768px) {
        height: var(--icon-height-mobile, 20px);
        width: var(--icon-width-mobile, 20px);
    }
}